# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SportFit.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Web-development\SportFit\.idea\.idea.SportFit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

encodings.xml
riderModule.iml