.root .content .home_wrapper {
  padding: 50px 0;
}
.root .content .programsPage_wrapper {
  padding: 50px 0;
}
.root .content .createProgramPage_wrapper {
  padding: 50px 0;
}
.root .content .programIdPage_wrapper {
  padding: 50px 0;
}

.header {
  height: 60px;
}
.header .navbar .navbar_wrapper {
  height: 60px;
}
.header .navbar .navbar_wrapper .brand {
  height: 60px;
}
.header .navbar .navbar_wrapper .brand .navbar-brand {
  font-size: 24pt;
  line-height: 1em;
}
.header .navbar .navbar_wrapper .navbar-nav .nav-item .nav-link {
  font-size: 20px;
}

.btn-outline-primary {
  color: #000000;
}
.btn-outline-primary:hover {
  color: #ffffff;
}

.authorization_wrapper .row {
  height: calc(100vh - 60px);
}
.authorization_wrapper .row .right .authorization_form_wrapper {
  width: 550px;
}
.authorization_wrapper .row .right .authorization_form_wrapper .title {
  margin-bottom: 15px !important;
}
.authorization_wrapper .row .right .authorization_form_wrapper .separator {
  margin-bottom: 30px !important;
}
.authorization_wrapper .row .right .authorization_form_wrapper .separator span {
  line-height: 1rem;
}
.authorization_wrapper .row .right .authorization_form_wrapper .input_wrapper {
  margin-bottom: 15px !important;
}
.authorization_wrapper .row .right .authorization_form_wrapper .input_wrapper .form-label {
  color: #d3d3d3;
}
.authorization_wrapper .row .right .authorization_form_wrapper .input_wrapper .form-control {
  color: #000000;
}
.authorization_wrapper .row .right .authorization_form_wrapper .button_wrapper {
  margin-bottom: 30px !important;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: lightgrey;
}
a:hover {
  color: white;
}

.footer_wrapper {
  height: 350px;
}
.footer_wrapper .top {
  height: 290px;
  padding: 45px 0;
}
.footer_wrapper .top .left_block .brand {
  margin-bottom: 35px;
}
.footer_wrapper .top .left_block .brand .brandName {
  color: white;
}
.footer_wrapper .top .left_block .text {
  margin-bottom: 35px;
  height: 45px;
  font-size: 16px;
  color: lightgrey;
}
.footer_wrapper .top .center_block .links_content .title {
  color: white;
  margin-bottom: 15px;
}
.footer_wrapper .top .center_block .links_content a {
  margin-bottom: 5px;
}
.footer_wrapper .top .center_block .links_content a .bi {
  font-size: 15px;
  color: lightgrey;
}
.footer_wrapper .top .right_block {
  color: lightgrey;
}
.footer_wrapper .bottom {
  height: 60px;
  font-size: 16px;
  color: lightgrey;
}

.banner {
  border-radius: 25px;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner .banner_blackout {
  border-radius: 25px;
  height: 400px;
  padding: 75px;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner .banner_blackout .content {
  margin-bottom: 65px;
}
.banner .banner_blackout .content .title {
  margin-bottom: 20px;
  color: white;
}
.banner .banner_blackout .content span {
  color: lightgrey;
}
.banner .banner_blackout .button_wrapper .btn {
  width: 170px;
  color: white;
}
.banner .banner_blackout .button_wrapper .btn:hover {
  color: black;
}

.programsPage_wrapper {
  padding: 50px;
}
.programsPage_wrapper .banner {
  background-image: url("https://images.unsplash.com/photo-1579126038374-6064e9370f0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1317&q=80");
}
.programsPage_wrapper .programItem_wrapper {
  margin-bottom: 50px;
}
.programsPage_wrapper .programItem_wrapper:last-child {
  margin-bottom: 0;
}

.programItem_wrapper {
  height: 404px;
  padding: 25px;
  border-radius: 25px;
  border: 2px solid #ceecff;
}
.programItem_wrapper .programItem_content .left_block .user_wrapper {
  margin-bottom: 15px;
}
.programItem_wrapper .programItem_content .left_block .user_wrapper span {
  color: black;
}
.programItem_wrapper .programItem_content .left_block .user_wrapper span:hover {
  color: #555555;
  cursor: pointer;
}
.programItem_wrapper .programItem_content .left_block .photo_wrapper {
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
.programItem_wrapper .programItem_content .right_block {
  padding: 0;
}
.programItem_wrapper .programItem_content .right_block .content_block .title {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16pt;
  color: #008cff;
}
.programItem_wrapper .programItem_content .right_block .content_block .line {
  margin-bottom: 5px;
}
.programItem_wrapper .programItem_content .right_block .actions_block .likes_wrapper .likesCount {
  font-size: 16pt;
  color: #0d6efd;
}
.programItem_wrapper .programItem_content .right_block .actions_block .likes_wrapper .likeProgram {
  height: 45px;
  width: 45px;
  background-color: #F2FDFF;
  border: transparent;
}
.programItem_wrapper .programItem_content .right_block .actions_block .likes_wrapper .likeProgram .bi {
  font-weight: bold;
  font-size: 24px;
  color: #0d6efd;
}
.programItem_wrapper .programItem_content .right_block .actions_block .likes_wrapper .likeProgram:hover {
  background-color: #C8F8FF;
}
.programItem_wrapper .programItem_content .right_block .actions_block .likes_wrapper .likeProgram:active {
  background-color: #ceecff;
}
.programItem_wrapper .programItem_content .right_block .actions_block .openProgram {
  width: 100px;
}
.programItem_wrapper .programItem_content .right_block .actions_block .openProgram .bi {
  color: #0d6efd;
}
.programItem_wrapper .programItem_content .right_block .actions_block .openProgram:hover .bi {
  color: white;
}

.createProgramPage_wrapper .createProgram_content {
  padding: 25px;
  border-radius: 25px;
  border: 2px solid #ceecff;
}
.createProgramPage_wrapper .createProgram_content .top_block .left_block .input_wrapper {
  margin-bottom: 40px !important;
}
.createProgramPage_wrapper .createProgram_content .top_block .right_block {
  padding: 0;
}
.createProgramPage_wrapper .createProgram_content .top_block .right_block .content_block .photo_wrapper {
  height: 435px;
  background-color: #e0e0e0;
  border-radius: 15px 15px 0 0;
}
.createProgramPage_wrapper .createProgram_content .top_block .right_block .content_block .downloadPhoto {
  border-radius: 0 0 15px 15px;
}
.createProgramPage_wrapper .createProgram_content .bottom_block {
  margin-bottom: 25px;
}
.createProgramPage_wrapper .createProgram_content .bottom_block .programContent_block .form-floating .form-control {
  height: 150px;
}

.separator_wrapper {
  height: 200px;
}
.separator_wrapper hr {
  height: 2px;
}

.row {
  --bs-gutter-x: 0;
}

.programIdPage_wrapper .programId_content {
  height: auto;
  padding: 50px;
  border-radius: 25px;
  border: 2px solid #ceecff;
}
.programIdPage_wrapper .programId_content .topInfo_wrapper {
  margin-bottom: 25px;
}
.programIdPage_wrapper .programId_content .topInfo_wrapper .user_wrapper span {
  font-size: 14pt;
  color: black;
}
.programIdPage_wrapper .programId_content .topInfo_wrapper .user_wrapper span:hover {
  color: #555555;
  cursor: pointer;
}
.programIdPage_wrapper .programId_content .topInfo_wrapper .likes_wrapper .likesCount {
  font-size: 14pt;
  color: #0d6efd;
}
.programIdPage_wrapper .programId_content .topInfo_wrapper .likes_wrapper .likeProgram {
  height: 45px;
  width: 45px;
  background-color: #F2FDFF;
  border: transparent;
}
.programIdPage_wrapper .programId_content .topInfo_wrapper .likes_wrapper .likeProgram .bi {
  font-weight: bold;
  font-size: 24px;
  color: #0d6efd;
}
.programIdPage_wrapper .programId_content .topInfo_wrapper .likes_wrapper .likeProgram:hover {
  background-color: #C8F8FF;
}
.programIdPage_wrapper .programId_content .topInfo_wrapper .likes_wrapper .likeProgram:active {
  background-color: #ceecff;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .typesCharacterization_wrapper {
  margin-bottom: 25px;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .typesCharacterization_wrapper .programType_wrapper .badge {
  width: 200px;
  height: 42px;
  font-size: 14pt;
  background-color: #0D6EFD;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .typesCharacterization_wrapper .complexityLevel_wrapper .badge {
  width: 200px;
  height: 42px;
  font-size: 14pt;
  background-color: #FF5247;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .gallery_wrapper {
  height: 400px;
  margin-bottom: 25px;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .gallery_wrapper .photosGallery_wrapper {
  height: 350px;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .name_wrapper {
  margin-bottom: 10px;
  font-size: 18pt;
  color: #008CFF;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .description_wrapper {
  margin-bottom: 15px;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .description_wrapper .title {
  font-size: 14pt;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .description_wrapper .content {
  text-align: justify;
  font-size: 14pt;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .programText_wrapper {
  margin-bottom: 15px;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .programText_wrapper .title {
  font-size: 14pt;
}
.programIdPage_wrapper .programId_content .mainContent_wrapper .programText_wrapper .content_text {
  min-height: 250px;
  padding: 15px;
  border: 1px solid #808080;
  border-radius: 5px;
  text-align: justify;
  font-size: 14pt;
}