.root {
  .content {
    .home_wrapper {
      padding: 50px 0;
    }
    .programsPage_wrapper {
      padding: 50px 0;
    }
    .createProgramPage_wrapper {
      padding: 50px 0;
    }
    .programIdPage_wrapper {
      padding: 50px 0;
    }
  }
}