.commentItem_wrapper {
  margin-bottom: 50px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  .commentItem_content {
    .userNickname {
      span {
        font-size: 14pt;

        &:hover {
          color: #555555;
          cursor: pointer;
        }
      }
    }

    .commentText {
      color: #808080;
    }
  }
}