.programId_content {
  height: auto;

  padding: 50px;
  margin-bottom: 50px;

  border-radius: 25px;
  border: 2px solid #ceecff;

  .topInfo_wrapper {
    margin-bottom: 25px;

    .user_wrapper {
      span {
        font-size: 14pt;

        &:hover {
          color: #555555;
          cursor: pointer;
        }
      }
    }

    .likes_wrapper {
      .likesCount {
        font-size: 14pt;
        color: #0d6efd;
      }

      .likeProgram {
        height: 45px;
        width: 45px;

        background-color: #F2FDFF;
        border: transparent;

        .bi {
          font-weight: bold;
          font-size: 24px;
          color: #0d6efd;
        }

        &:hover {
          background-color: #C8F8FF;
        }

        &:active {
          background-color: #ceecff;
        }
      }
    }
  }

  .mainContent_wrapper {
    .typesCharacterization_wrapper {
      margin-bottom: 25px;

      .programType_wrapper {
        .badge {
          width: 200px;
          height: 42px;

          font-size: 14pt;

          background-color: #0D6EFD;
        }
      }

      .complexityLevel_wrapper {
        .badge {
          width: 200px;
          height: 42px;

          font-size: 14pt;

          background-color: #FF5247;
        }
      }
    }

    .gallery_wrapper {
      height: 400px;

      margin-bottom: 25px;

      .photosGallery_wrapper {
        height: 350px;
      }
    }

    .name_wrapper {
      margin-bottom: 10px;

      font-size: 18pt;
      color: #008CFF;
    }

    .description_wrapper {
      margin-bottom: 15px;

      .title {
        font-size: 14pt;
      }

      .content {
        text-align: justify;
        font-size: 14pt;
      }
    }

    .programText_wrapper {
      margin-bottom: 15px;

      .title {
        font-size: 14pt;
      }

      .content_text {
        min-height: 250px;

        padding: 15px;

        border: 1px solid #808080;
        border-radius: 5px;

        text-align: justify;
        font-size: 14pt;
      }
    }
  }
}