.accountPage_wrapper {
  padding: 50px 0;

  .account_content {
    height: auto;

    border-radius: 25px;

    .avatarAndSocialLinks_block {
      .avatar_wrapper {
        height: 307.5px;

        overflow: hidden;
      }

      .socialLinks_wrapper {
        height: auto;

        margin-top: 50px;
        padding: 15px;

        .email_wrapper {
          margin-bottom: 15px;

          .email_icon {
            i {
              font-size: 30px;
            }
          }

          .email_link {
            .email {
              height: 42px;

              background-color: #e0e0e0;
              border-radius: 10px;
            }
          }
        }
      }
    }

    .userInfoAndPrograms {      
      .userInfo_wrapper {
        height: 307.5px;

        .top_block {
          .nickName {
            height: 42px;

            font-size: 20pt;
          }

          .btn{
            width: 40px;
            height: 100%;

            .fa{
              font-size: 1.25rem;
            }
          }
        }

        .info_wrapper {
          .info_text {
            height: 42px;

            background-color: #e0e0e0;
            border-radius: 10px;
          }

          .info_text_link {
            height: 42px;

            background-color: #e0e0e0;
            border-radius: 10px;

            color: #000000;

            &:hover {
              color: #777777;
            }
          }
        }
      }

      .programs_wrapper {
        height: 500px;

        margin-top: 50px;
      }
    }
  }
}