.commentItem_wrapper {
  margin-bottom: 50px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  .userAvatar_wrapper {
    .avatar_wrapper {
      overflow: hidden;

      height: 75px;
      width: 75px;

      background-color: #e0e0e0;
    }
  }
  
  .commentItem_content {
    min-height: 90px;
    
    .nicknameAndActions {
      margin-bottom: 5px;
      
      .userNickname {
        span {
          color: #000000;
          font-size: 12pt;

          &:hover {
            color: #555555;
            cursor: pointer;
          }
        }
      }
      
      .actionsButtons_wrapper {
        .dropdown{
          .actions_dropdown {
            height: 27.5px;
            width: 27.5px;
            
            border-radius: 50px;
          }

          .dropdown-menu {
            .dropdown-item {
              cursor: pointer;
            }
          }
          
          &:hover{
            background-color: #f0f0f0;
            
            .fa {
              color: #000000;
            }
          }
          
          .fa {
            color: #aaaaaa;
          }
        }
      }
    }

    .form-control {
      height: 77.5px;
      line-height: 1.75rem;

      margin-bottom: 5px;
    }
    
    .creationDate_wrapper {
      font-size: 12pt;
    }
  }
}