.createProgramPage_wrapper {
  padding: 50px 0;
  
  .createProgram_content {
    padding: 25px;

    border-radius: 25px;
    border: 2px solid #ceecff;
    
    .top_block{
      .left_block {
        .input_wrapper {
          margin-bottom: 25px !important;
        }
      }

      .right_block {
        padding: 0;

        .preViewDownloadPhoto_block {
          .preView_wrapper {
            height: 320px;

            background-color: #e0e0e0;
            border-radius: 15px 15px 0 0;
          }
          
          .downloadPhoto {
            border-radius: 0 0 15px 15px;
          }
        }
      }
    }

    .bottom_block {
      margin-bottom: 25px;
      
      .programContent_block {
        .form-floating {
          .form-control {
            height: 150px;
          }
        }
      }
    }
  }
}