.createProgramPage_wrapper {
  padding: 50px 0;
  
  .createProgram_content {
    padding: 25px;

    border-radius: 25px;
    border: 2px solid #ceecff;
    
    .top_block{
      margin-bottom: 30px;
      
      .left_block {
        .input_wrapper {
          margin-bottom: 30px;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .right_block {
        .preViewDownloadPhoto_block {
          
          .preView_wrapper {
            overflow: hidden;
            height: 284px;
            width: auto;
            
            background-color: #e0e0e0;
            border-radius: 15px 15px 0 0;
            
            .preView_photo {
              border-radius: 15px 15px 0 0;
            }
          }
          
          .input-group {            
            .input-group-text{
              border-radius: 0 0 0 15px; 
            }
            
            .downloadPhoto {
              border-radius: 0 0 15px 0;
            }
          }
        }
      }
    }

    .bottom_block {
      margin-bottom: 25px;
      
      .programContent_block {
        div {
          .form-control {
            min-height: 150px;
          }
        }
      }
    }
  }
}