a{
  text-decoration: none;
  font-size: 16px;
  color: lightgrey;
  
  &:hover {
    color: white;
  }
}

.footer_wrapper {
  height: 350px;
  
  .top {
    height: 290px;
    padding: 45px 0;
    
    .left_block {
      .brand {
        margin-bottom: 35px;

        .brandName {
          color: white;
        }
      }

      .text {
        margin-bottom: 35px;
        height: 45px;

        font-size: 16px;
        color: lightgrey;
      }
    }
    
    .center_block {
      .links_content {
        .title{
          color: white;
          margin-bottom: 15px;
        }
        
        a {          
          margin-bottom: 5px;
          
          .bi {
            font-size: 15px;
            color: lightgrey;
          }
        }
        
        div {
          font-size: 16px;
          color: lightgrey;

          &:hover {
            cursor: pointer;
            color: white;
          }
        }
      }
    }
    
    .right_block{
      color: lightgrey;
    }
  }
  
  .bottom {
    height: 60px;
    
    font-size: 16px;
    color: lightgrey;
  }
}