.header {
  height: 60px;
  
  .navbar {    
    .navbar_wrapper {
      height: 60px;
      
      .brand{
        height: 60px;
        
        .navbar-brand {
          font-size: 24pt;
        }
      }
      
      .navbar-nav {
        .nav-item {
          .nav-link {
            font-size: 20px;

            .avatar_wrapper {
              overflow: hidden;

              height: 40px;
              width: 40px;

              background-color: #e0e0e0;
            }
          }
        }
      }
    }
  }
}