.programItem_wrapper {
  height: auto;

  padding: 25px;
  
  border-radius: 25px;
  border: 2px solid #ceecff;
  
  .programItem_content {
    .left_block {
      .user_wrapper{
        margin-bottom: 15px;
        
        .avatar {
          width: 40px;
          height: 40px;
          
          img{
            border-radius: 50px;
          }
        }
        
        span {
          color: black;
          
          &:hover{
            color: #555555;
            cursor: pointer;
          }
        }
      }
      
      .photo_wrapper {
        height: 300px;
        
        background-color: #e0e0e0;
      }
    }
    
    .right_block {
      padding: 0;
      
      .content_block {
        .title {
          margin-bottom: 15px;
          
          font-size: 16pt;
          color: #008cff;
        }
        
        .line{
          margin-bottom: 5px;
          
          .characteristic{
            font-size: 12pt;
          }
          
          .description {
            font-size: 12pt;
          }
        }
      }
      
      .actions_block {
        .creationDate {
          font-size: 12pt;  
        }
        
        .likes_wrapper {
          .likesCount {
            font-size: 16pt;
            color: #0d6efd;
          }

          .likeProgram {
            height: 45px;
            width: 45px;

            background-color: #F2FDFF;
            border: transparent;

            .bi {
              font-weight: bold;
              font-size: 24px;
              color: #0d6efd;
            }

            &:hover {
              background-color: #C8F8FF;
            }

            &:active {
              background-color: #ceecff;
            }
          }
        }
        
        .button_wrapper {
          .openProgram {
            width: 100px;

            .bi {
              color: #0d6efd;
            }

            &:hover {
              .bi {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}