.programItem_wrapper {
  height: auto;

  padding: 25px;
  
  border-radius: 25px;
  
  .programItem_content {
    .left_block {
      .user_wrapper{
        margin-bottom: 15px;
        
        .avatar {
          overflow: hidden;
          
          width: 40px;
          height: 40px;
          
          background-color: #e0e0e0;
        }
        
        span {
          color: black;
          
          &:hover{
            color: #555555;
            cursor: pointer;
          }
        }
      }

      .preView_wrapper {
        overflow: hidden;
        height: 325px;
        width: 420px;

        background-color: #e0e0e0;
        border-radius: 15px;

        .preView_photo {
          max-width: 420px;
          border-radius: 15px;
        }
      }
    }
    
    .right_block {
      padding: 0;
      
      .content_block {
        .name_wrapper {
          margin-bottom: 15px;
          
          font-size: 16pt;
          color: #008cff;
        }
        
        .line{
          height: 40px;
          
          .characteristic{
            font-size: 12pt;
          }
          
          .description {
            font-size: 12pt;
          }
        }
      }
      
      .actions_block {
        .creationDate {
          font-size: 12pt;  
        }
        
        .btn {
          width: 100px;
        }
      }
    }
  }
}