.userAccountPage_wrapper {
  padding: 50px 0;
  
  .userAccount_content {
    height: auto;

    border-radius: 25px;
    
    .avatarAndSocialLinks_block {
      .avatar_wrapper {
        height: 300px;
        
        overflow: hidden;
        margin-bottom: 50px;
      }

      .socialLinks_wrapper {
        height: auto;
        
        .email_wrapper {
          
          .email_icon {
            i {
              font-size: 30px;
            }
          }
          
          .email_link {
            .email {
              height: 42px;

              background-color: #e0e0e0;
              border-radius: 10px;
            }
          }
        }
        
        .socialNetwork-link {
          margin-top: 15px;
        }
      }
    }

    .userInfoAndPrograms {
      .userInfo_wrapper {
        height: 300px;
        
        .top_block {
          .nickName {
            height: 42px;

            font-size: 20pt;
          }

          .btn{
            width: 40px;
            height: 100%;

            .fa{
              font-size: 1.25rem;
            }
          }
        }

        .info_wrapper {
          .info_text {
            height: 42px;

            background-color: #e0e0e0;
            border-radius: 10px;
          }

          .info_text_link {
            height: 42px;

            background-color: #e0e0e0;
            border-radius: 10px;

            color: #000000;

            &:hover {
              color: #777777;
            }
          }
        }
      }
      
      .programs_wrapper {
        height: 500px;
      }
    }
  }
}