.userComment_wrapper {
  padding: 50px;

  .userAvatar_wrapper {

    .avatar_wrapper {
      overflow: hidden;

      height: 75px;
      width: 75px;

      background-color: #e0e0e0;
    }
  }
  
  .userCommentInput_wrapper {
    .comment_form {
      .input_wrapper {        
        margin-bottom: 25px;

        .commentText {
          height: 100px;
        }
      }

      .button_wrapper {
        .btn {
          width: 300px;
        }
      }
    }
  }
}