.userSelectedProgramsListingPage_wrapper {
  min-height: calc(100vh - 60px);
  padding: 50px 0;

  .userSelectedProgramsListingPage_content {
    .title_wrapper {
      margin-bottom: 50px;
    }

    .selectedProgramCardsListing_wrapper {
      margin: 0 -15px;
      margin-bottom: -50px;

      .loading_wrapper {
        min-height: calc(100vh - 214px);
        .loading {
          margin-bottom: 50px;
        }
      }

      .empty_wrapper {
        .title_wrapper {
          margin-bottom: 50px;
        }

        .banner_wrapper {
          margin-bottom: 50px;
        }
      }
    }
  }
}