.userProgramCard_wrapper {
  height: 500px;
  width: 400px;
  
  border-radius: 15px;

  .preView_wrapper {
    overflow: hidden;

    height: 350px;

    border-radius: 15px;
    background-color: #e0e0e0;
  }
}